{% extends "core/base.html" %}
{% block main %}

<div class="section no-pad-bot">
	<div class="container">
		<form>
			<br><br>
			<h1 class="header center orange-text">Generate A Password</h1>

			<div class="step">
				<div class="row center">
					<h5 class="header col s12">What Website Do You Want To Generate A Password For?</h5>
					<div class="input-field col s8">
						<input id="domain-name" type="text" placeholder="e.g. google.com" />
						<label for="domain-name" data-error="This is required">Domain Name</label>
					</div>
					<div class="input-field col s4">
						<p class="light">
							If you're generating a password for a service which is not a website,
							then enter a name for it which you can reliably enter the same next time.
						</p>
					</div>
					<button type="button" class="btn waves-effect waves-light disabled orange next-step">Next</button>
				</div>
			</div>

			<div class="step hide">
				<div class="row center">
					<h5 class="header col s12">Enter Your Master Password</h5>
					<p class="red-text center">
						It is <strong>vital</strong> that this is so obscure that no one (human or
						machine) will <strong>ever</strong> come up with the same password.
						<a>Why?</a><br />

					</p>
					<div class="input-field col s8">
						<input id="master-password-1" type="password" />
						<label for="master-password-1" data-error="Password not strong enough">Master Password</label>
					</div>
					<div class="input-field col s4 nothing" id="strength">
						<p>
							<span class="strength-desc nothing">Strength o-meter</span>
							<span class="strength-desc pathetic hide">Inexcusably pathetic</span>
							<span class="strength-desc very-weak hide">Very weak</span>
							<span class="strength-desc weak hide">Weak</span>
							<span class="strength-desc borderline hide">Getting there</span>
							<span class="strength-desc ok hide">OK</span>
							<span class="strength-desc good hide">
								Good <span class="light">(if you haven't used words)</span>
							</span>
						</p>
						<div class="progress grey lighten-2">
							<div class="determinate grey"></div>
						</div>
					</div>
					<div class="input-field left-align col s12">
						<a>Tips for creating your master password</a>
					</div>
					<div class="col s12">
						<button type="button" class="btn waves-effect waves-light disabled orange next-step">Next</button>
					</div>
				</div>
			</div>

			<div class="step hide">
				<div class="row center">
					<h5 class="header col s12">Confirm Your Master Password</h5>
					<div class="input-field col s8">
						<input id="master-password-2" type="password" />
						<label for="master-password-" data-error="This does not match what you typed before">Master Password</label>
					</div>
					<div class="input-field col s4">
						<p>
							It looks like you're generating your password for
							<span class="website-name">this website</span> for the first time, so it's
							important that your master password is correct.
						</p>
					</div>
					<button type="button" class="btn waves-effect waves-light orange disabled generate">Generate password</button>
				</div>
			</div>

			<div class="step hide generating">
				<div class="row center">
					<h5>Generating<span>.</span><span>.</span><span>.</span></h5>
				</div>
			</div>


			<div class="step hide result">
				<div class="row center">
					<h5>Your password for <span class="website-name">this website</span> is:</h5>
					<div class="input-field col s8">
						<input type="password" id="generated-password" value="" />
					</div>
					<div class="switch col s4">
						<label>
							<input type="checkbox" id="show-password"><span class="lever"></span> Show password
						</label>
					</div>
				</div>
				<div class="row center hide copied valign-wrapper green-text">
					<i class="small material-icons">done</i> Copied to clipboard
				</div>
				<div class="row center">
					<a href="{% url 'generator' %}">Start again</a>
				</div>
			</div>
			<br><br>
		</form>

	</div>
</div>



{% endblock main %}
