{% extends "core/base.html" %}
{% block main %}

<div class="section no-pad-bot">
	<div class="container">
		<form>
			<br><br>
			<h2 class="header center orange-text">Generate A Password</h2>

			<div class="step">
				<div class="row center">
					<h5 class="header col s12">What Website Do You Want To Generate A Password For?</h5>
					<div class="input-field col s8">
						<input id="domain-name" type="text" placeholder="e.g. google.com" />
						<label for="domain-name" data-error="This is required">Domain Name</label>
					</div>
					<div class="input-field col s4">
						<p class="light">
							If you're generating a password for a service which is not a website,
							then enter a name for it which you can reliably enter the same next time.
						</p>
					</div>
				</div>
				<div class="row center">
					<div class="col s12">
						<button type="button" class="btn waves-effect waves-light disabled orange next-step">Next</button>
					</div>
				</div>
			</div>

			<div class="step hide">
				<div class="row center">
					<h5 class="header col s12">Enter Your Master Password</h5>
					<p class="red-text center">
						It is <strong>vital</strong> that this is so obscure that no one (human or
						machine) will <strong>ever</strong> come up with the same password.
						<a>Why?</a><br />

					</p>
					<div class="input-field col s8">
						<div>
							<input id="master-password-1" type="password" />
							<label for="master-password-1" data-error="Password not strong enough">Master Password</label>
						</div>
						<div class="nothing" id="strength">
							<p>
								<span class="strength-desc nothing">Strength o-meter</span>
								<span class="strength-desc pathetic hide">Inexcusably pathetic</span>
								<span class="strength-desc very-weak hide">Very weak</span>
								<span class="strength-desc weak hide">Weak</span>
								<span class="strength-desc borderline hide">Getting there</span>
								<span class="strength-desc ok hide">OK</span>
								<span class="strength-desc good hide">
									Good <span class="light">(if you haven't used words)</span>
								</span>
							</p>
							<div class="progress grey lighten-2">
								<div class="determinate grey"></div>
							</div>
						</div>
					</div>
					<div class="input-field col s4 left-align">
						<div class="switch">
							<label>
								<input type="checkbox" class="show-password" /><span class="lever"></span> Show password
							</label>
						</div>
						<p>
							<a>Tips for creating your master password</a>
						</p>
					</div>
				</div><!-- end row -->
				<div class="row center">
					<div class="col s4 left-align">
						<button type="button" class="btn waves-effect waves-light white orange-text prev-step">Back</button>
					</div>
					<div class="col s4">
						<button type="button" class="btn waves-effect waves-light disabled orange next-step">Next</button>
					</div>
					<div class="col s4">
						&nbsp;
					</div>
				</div>
			</div><!-- end step -->

			<div class="step hide">
				<div class="row center">
					<h5 class="header col s12">Confirm Your Master Password</h5>
					<p>
						It looks like you're generating your password for
						<span class="normalised-domain-name light italic">this website</span> for the first time, so it's
						important that your master password is typed correctly.
					</p>
					<div class="input-field col s8">
						<input id="master-password-2" type="password" length="0" />
						<label for="master-password-2" data-error="This does not match what you typed before">Master Password</label>
					</div>
					<div class="input-field col s4 left-align">
						<div class="switch">
							<label>
								<input type="checkbox" class="show-password" /><span class="lever"></span> Show password
							</label>
						</div>
					</div>
				</div><!-- end row -->
				<div class="row center">
					<div class="col s4 left-align">
						<button type="button" class="btn waves-effect waves-light white orange-text prev-step">Back</a>
					</div>
					<div class="col s4">
						<button type="button" class="btn waves-effect waves-light orange disabled generate">Generate password</button>
					</div>
					<div class="col s4">
						&nbsp;
					</div>
				</div><!-- end row -->
			</div><!-- end step -->

			<div class="step hide generating">
				<div class="row center">
					<h5>Generating<span>.</span><span>.</span><span>.</span></h5>
				</div>
			</div>


			<div class="step hide result">
				<div class="row center">
					<h5>Your password for <span class="normalised-domain-name light italic">this website</span> is:</h5>
					<div class="col s4">
						&nbsp;
					</div>
					<div class="input-field col s4">
						<input type="password" id="generated-password" value="" />
					</div>
					<div class="switch col s4 left-align">
						<label>
							<input type="checkbox" class="show-password"><span class="lever"></span> Show password
						</label>
					</div>
				</div>
				<div class="row center hide copied green-text">
					<i class="tiny material-icons">done</i> Copied to clipboard
				</div>
				<div class="row center not-copied">
					<!-- Some browsers will reject the automatic copying to the clipboard because it
						happens too long after the user-triggered "generate" event, hence we offer this
						manual "Copy to clipboard" button
					-->
					<button type="button" id="copy" class="btn waves-effect waves-light orange">Copy to clipboard</button>
				</div>
				<div class="row center">

					<a href="{% url 'generator' %}" class="btn waves-effect waves-light white orange-text">
						<i class="tiny material-icons">replay</i>
						Start again
					</a>
				</div>
			</div>
			<br><br>
		</form>

	</div>
</div>

{% endblock main %}


{% block pre_js %}
	<script src="{{STATIC_URL}}jsSHA-2.0.1/sha512.js"></script>
{% endblock %}
