<!DOCTYPE html>
<html>
<head>
	<title>Swap Pass</title>
	<link href="libs/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
	<link href="css/swappass-chrome.css" rel="stylesheet" type="text/css" />
	</style>
</head>

<body>
	<h1 class="orange-text center">Swap Pass</h1>

	<div class="section no-pad-bot" id="generator-page">
		<div class="container">
			<form>
				<div class="step domain" data-step-name="domain">
					<div class="row center">
						<h5 class="header col s12">What Website Do You Want to Generate a Password for?</h5>
						<div class="input-field col l8 s12">
							<input id="domain-name" type="text" placeholder="e.g. google.com" />
							<label for="domain-name" data-error="This is required">Paste URL from login page (or type full domain name)</label>
						</div>
						<div class="input-field col l4 s12">
							<p class="light">
								If you're generating a password for a service which is not a website,
								then enter a name for it which you can reliably enter the same next time.
							</p>
						</div>
					</div>
					<div class="row right-align">
						<div class="col l8 s12">
							<button type="button" class="btn waves-effect waves-light disabled orange next-step">Next</button>
						</div>
					</div>
				</div>

				<div class="step master1 hide" data-step-name="master1">
					<div class="row center">
						<h5 class="header col s12">Enter Your Master Password</h5>
						<div class="input-field col l8 s12">
							<div>
								<input id="master-password-1" type="password" />
								<label for="master-password-1" data-error="Password not strong enough">Master Password</label>
							</div>
							<div class="nothing" id="strength">
								<p>
									<span class="strength-desc nothing">Strength o-meter</span>
									<span class="strength-desc pathetic hide">Inexcusably pathetic</span>
									<span class="strength-desc very-weak hide">Very weak</span>
									<span class="strength-desc weak hide">Weak</span>
									<span class="strength-desc borderline hide">Getting there</span>
									<span class="strength-desc ok hide">OK</span>
									<span class="strength-desc good hide">
										Good <span class="light">(if you haven't used words)</span>
									</span>
								</p>
								<div class="progress grey lighten-2">
									<div class="determinate grey"></div>
								</div>
							</div>
						</div>
						<div class="input-field col l4 s12 left-align">
							<div class="switch">
								<label>
									<input type="checkbox" class="show-password" /><span class="lever"></span> Show password
								</label>
							</div>
							<p>
								This should be a password that you have never typed (and never will
								type) into anywhere other than here.
							</p>
							<p>
								It is <strong>vital</strong> that this is so obscure that no one (human or
								machine) will <strong>ever</strong> come up with the same password.
								<a href="{% url 'how_it_works' %}#section_security">Why?</a>
							</p>
							<p>
								<a href="{% url 'tips' %}">Tips for creating your master password</a>
							</p>
						</div>
					</div><!-- end row -->
					<div class="row center">
						<div class="col s4 left-align">
							<button type="button" class="btn waves-effect waves-light white orange-text prev-step">Back</button>
						</div>
						<div class="col l4 s8 right-align">
							<button type="button" class="btn waves-effect waves-light disabled orange next-step">
								<span class="next-text">Next</span>
								<span class="generate-text hide">Generate password</span>
							</button>
						</div>
						<div class="col s4">
							&nbsp;
						</div>
					</div>
				</div><!-- end step -->

				<div class="step master2 hide" data-step-name="master2">
					<div class="row center">
						<h5 class="header col s12">Confirm Your Master Password</h5>
						<div class="input-field col l8 s12">
							<input id="master-password-2" type="password" length="0" />
							<label for="master-password-2" data-error="This does not match what you typed before">Confirm Master Password</label>
						</div>
						<div class="input-field col l4 s12 left-align">
							<div class="switch">
								<label>
									<input type="checkbox" class="show-password" /><span class="lever"></span> Show password
								</label>
							</div>
							<p>
								It looks like you're generating your password for
								<span class="normalised-domain-name light italic">this website</span> for the first time, so it's
								important that your master password is typed correctly.
							</p>
						</div>
					</div><!-- end row -->
					<div class="row center">
						<div class="col s4 left-align">
							<button type="button" class="btn waves-effect waves-light white orange-text prev-step">Back</button>
						</div>
						<div class="col l4 s8 right-align">
							<button type="button" class="btn waves-effect waves-light orange disabled next-step">Generate password</button>
						</div>
						<div class="col s4">
							&nbsp;
						</div>
					</div><!-- end row -->
				</div><!-- end step -->

				<div class="step hide generate" data-step-name="generate">
					<div class="row center">
						<h5>Generating<span>.</span><span>.</span><span>.</span></h5>
					</div>
				</div>


				<div class="step hide result" data-step-name="result">
					<div class="row center">
						<h5>Your password for <span class="normalised-domain-name light italic">this website</span> is:</h5>
						<div class="input-field col s12">
							<input type="password" id="generated-password" value="" />
						</div>
						<div class="switch col s12">
							<label>
								<input type="checkbox" class="show-password"><span class="lever"></span> Show password
							</label>
						</div>
					</div>
					<div class="row center hide copied green-text">
						<i class="tiny material-icons">done</i> Copied to clipboard
					</div>
					<div class="row center not-copied">
						<!-- Some browsers will reject the automatic copying to the clipboard because it
							happens too long after the user-triggered "generate" event, hence we offer this
							manual "Copy to clipboard" button
						-->
						<button type="button" id="copy" class="btn waves-effect waves-light orange">Copy to clipboard</button>
					</div>
					<div class="row center">

						<a href="{% url 'generator' %}" class="btn waves-effect waves-light white orange-text">
							<i class="tiny material-icons">replay</i>
							Start again
						</a>
					</div>
				</div>
				<br><br>
			</form>

		</div>
	</div>


	<script src="libs/jsSHA-2.0.1/sha512.js"></script>
	<script src="libs/jquery/jquery-2.1.1.min.js"></script>
	<script src="libs/materialize/js/materialize.min.js"></script>
	<script src="swappass.js"></script>
	<script src="swappass-chrome.js"></script>
</body>
</html>
