{% extends "core/base.html" %}
{% block main %}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="header center orange-text">Frequently Asked Questions</h1>
		<div class="row center">
			<p>
				Commonly asked questions and their answers will go here.
			</p>

			<h3>How Do I Know I Can Trust SwapPass?</h3>
			<p>
				We never transfers any of your data to our severs.&nbsp; Don't believe us? Go to
				the Generator page and then turn off your wifi/data connection - it still works!
			</p>
			<p>
				Still don't believe us?  If you (or someone you know) can understand HTML and
				Javascript code then you can inspect the source code of the site.&nbsp; For ease of
				viewing, you can find the code on
				<a href="https://github.com/adamalton/swappass">GitHub</a>.
			</p>
		</div>
		<br><br>
	</div>
</div>


{% endblock main %}
