{% extends "core/base.html" %}
{% block main %}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="header center orange-text">Feedback</h1>
		<h5 class="header col s12 light">
			Your feedback (positive or negative) is greatly appreciated.&nbsp; Please use <a href="https://docs.google.com/forms/d/1u3eOM8fu43EqpN9KxZpJ05yE6CBq88q0Foonig2KMUU/viewform?usp=send_form">this form</a> to tell us what you think.
		</h5>
		<br><br>
	</div>
</div>


{% endblock main %}
