{% extends "core/base.html" %}
{% block main %}

<div class="container">
	<h1 class="header center orange-text">Tips for Creating Your Master Password</h1>
	<div class="section boost-text">
		<p>
			Supposing a computer is working its way through every combination of letters and numbers
			trying to find your password, and it's trying a million different combinations each
			second.&nbsp; How long will it take to find it?
		</p>
		<p>
			If your password is made of 4 random lowercase letters, the computer will probably come
			across it after about 1/4 of a second.&nbsp;
			If you use both uppercase and lowercase letters and digits, but still only have 4
			characters, it will take the computer about 7 seconds.&nbsp;
			But if you then increase the length to 8 characters, it will take about 3.5 years, and
			if you increase the length to 16 characters it will take about 755 trillion years.
		</p>
		<p>
			Increasing the <em>length</em> of your password exponentially increases its strength.&nbsp;
			So your goal is to create a password which is long, not made of words, but memorable.&nbsp;
			This page provides some tips.
		</p>
	</div>

	<div class="section row">
		<div class="col l4 m6 s12">
			<div class="card">
				<div class="card-content">
					<h5 class="card-title light-blue-text">Combine These Tips</h5>
					<p>
						To generate a long password, try taking several of the tips on this page
						and using them together to make a really long password.
					</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card">
				<div class="card-content">
					<h5 class="card-title light-blue-text">Use a Phrase</h5>
					<p>
						A good way of generating a seemingly random set of letters is to take a
						phrase that you can remember and take the first letter of each word.&nbsp;
						E.g. <em>"I like to boil my road cones in ketchup on sundays"</em> gives
						you ILTBMRCIKOS.
					</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card">
				<div class="card-content">
					<h5 class="card-title light-blue-text">Use Some Numbers</h5>
					<p>
						Memorable dates such as friends' or relatives' birthays can be used,
						or door numbers of houses you've lived in, old post codes or phone numbers.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section row">
		<div class="col l4 m6 s12">
			<div class="card">
				<div class="card-content">
					<h5 class="card-title light-blue-text">Use Punctuation</h5>
					<p>
						SwapPass has no restrictions on the characters you can use in your master
						password, so throw in some interesting shapes.
					</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card">
				<div class="card-content">
					<h5 class="card-title light-blue-text">Go Wild</h5>
					<p>
						If you want to get really obscure then you can add in some odd characters
						like é or ü, but remember that you will want to be able to type your
						password on many different devices (phone, laptop), so make sure you can
						get these charcters on those keyboards!&nbsp; And remember, adding length
						to your password is the best way to increase its strength.
					</p>
				</div>
			</div>
		</div>
		<div class="col l4 m6 s12">
			<div class="card">
				<div class="card-content">
					<h5 class="card-title light-blue-text">Use Some Words</h5>
					<p>
						Passwords based on real words are much weaker, as they're easier to
						guess.&nbsp; But as you'll be typing your master password a lot, it may be
						quicker for you to type <em>"correct horse battery staple"</em> than it is
						to type <em>"mÛ{$3Q"</em>, so if you're looking to pad out your password
						with some extra length, why not sneak in a real word or two.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock main %}
