.nav-wrapper .brand-logo img{
	height:50px;
	vertical-align: middle;
}

.input-field label{
	/* This is to fix an issue where a label's error message gets wrapped because it's
		restricted by the width of the label (when the label text is shorter than the error text).
	*/
	width: 100%;
	text-align: left;

}
#strength.nothing .progress div{
	width: 0%;
}
#strength.pathetic .progress div{
	width: 6%;
}
#strength.very-weak .progress div{
	width: 12%;
}
#strength.weak .progress div{
	width: 27%;
}
#strength.borderline .progress div{
	width: 50%;
}
#strength.ok .progress div{
	width: 60%;
}
#strength.good .progress div{
	width: 100%;
}

.step .switch{
	margin-top: 1rem;
}
.step .switch label span{
	margin-left: 6px;
}


/* Materialize CSS bug fixes */

.btn i.material-icons{
	vertical-align: sub;
}

.switch label{
	/* Fix the fact that labels are normally position: absolute, which causes a switch to take up no space */
	position: static;
}
