.nav-wrapper .brand-logo img{
	height:50px;
	vertical-align: middle;
}

#strength.nothing .progress div{
	width: 0%;
}
#strength.pathetic .progress div{
	width: 6%;
}
#strength.very-weak .progress div{
	width: 12%;
}
#strength.weak .progress div{
	width: 27%;
}
#strength.borderline .progress div{
	width: 50%;
}
#strength.ok .progress div{
	width: 60%;
}
#strength.good .progress div{
	width: 100%;
}
