{% extends "core/base.html" %}
{% block main %}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="header center orange-text">TwistPass</h1>
		<div class="row center">
			<h5 class="header col s12 light">We don't remember your passwords, and neither should you.</h5>
		</div>
		<div class="row center">
			<p>
				TwistPass takes a single password from you and modifies it to give you a
				unique password for each website or app that you use.
			</p>
			<p>
				We never store any of the passwords, but we can reproduce them when you need them.&nbsp;
				Just type your master password and the name of the website again, and we will
				re-generate your password for that site.
			</p>
		</div>
		<div class="row center">
			<p>
				<a href="{% url 'generator' %}" class="btn-large waves-effect waves-light orange">Take me to the generator!</a>
			</p>
			<p>
				<a href="{% url 'how_it_works' %}">How It Works</a>
			</p>
		</div>
		<br><br>

	</div>
</div>


<div class="container">
	<div class="section">

		<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center">
						<img src="{{STATIC_URL}}core/img/chrome.svg" alt="Google Chrome logo" />
					</h2>
					<h5 class="center light-blue-text">Chrome Extension</h5>

					<p class="light">
						The <a href="https://chrome.google.com/webstore/detail/twistpass/gabbmgibdadcbijaeelpblhlndfkmdbi">Google Chrome plugin</a>
						makes it even easier to generate your passwords, meaning you don't even
						need to leave the page you're on when you need a password.
					</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center">
						<img src="{{STATIC_URL}}core/img/firefox.svg" alt="Firefox logo" />
					</h2>
					<h5 class="center light-blue-text">Firefox Extension</h5>

					<p class="light">
						The Firefox plugin will make it even easier to generate your passwords,
						meaning you won't even need to leave your browser.&nbsp; Coming soon!
					</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center"><i class="material-icons">stay_current_portrait</i></h2>
					<h5 class="center light-blue-text">Mobile Apps</h5>

					<p class="light">
						Creation of iOS and Android apps is underway.&nbsp;
						Want this to happen sooner?  Send some feedback.
					</p>
				</div>
			</div>
		</div>

	</div>
	<br><br>
</div>
{% endblock main %}
