{% extends "core/base.html" %}
{% block main %}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="header center orange-text">Improve Your Knowledge</h1>
		<div class="row center">
			<h5 class="header col s12 light">
				This section of the site contains some articles explaining things which everyone who
				uses the internet should know.&nbsp; They are guaranteed to be 100% free from
				unexplained jargon, but may contain traces of humour.&nbsp; Enjoy.
			</h5>
		</div>
		<div class="row center">
			<ul>
				<li><a href="#1">Article 1</a></li>
				<li><a href="#1">Article 2</a></li>
				<li><a href="#1">Article 3</a></li>
			</ul>
		</div>
		<br><br>
	</div>
</div>


{% endblock main %}
